* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body {
    background-image: url("https://www.kibrispdr.org/data/729/laptop-backgrounds-4.jpg");
    background-size: cover;
    /*background: #f2f2f2;*/
    overflow: auto;
    background-repeat: no-repeat;
}
h1 {
    padding-top: 50px;
    text-align: center;
    margin: 5%;
    font-size: 3rem;
    text-decoration: underline;
}
ul {
    text-align: left;
    padding-left: 10%;
    padding: 7%;
    font-size: 2rem;
    list-style: circle;
}
li:hover {
    color: red;
    margin: 4%;
    transition: 1.5s ease;
    cursor: pointer;
}
.row {
    justify-content: center;
}
.form-group {
    text-align: center;
    margin-right: 30px;
}
.form-group2 {
    text-align: center;
}
.wrap {
    margin-top: 10px;
    display: flex;
    justify-content: right;
}